nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
}

nav li {
    float: left;
  }

nav li a {
     display: block;
     color: #ffff;
     padding: 8px 16px;
     text-decoration: none;
}

nav li a:hover {
    background-color:black;
  }

.home {
    text-align: center;
    margin: 30px;
}

img { 
  padding: 62px;
  height: 175px;
}
